
.Create-a-post-up-container {
  margin: auto;
    width: 100%;
    height: 100%;
    --s: 105px; /* control the size */
    --c1: #b9b9b9;
    --c2: #dcdcdc;
    --c3: #fafafa;
  
    background: conic-gradient(
          from 75deg,
          var(--c1) 15deg,
          var(--c2) 0 30deg,
          #0000 0 180deg,
          var(--c2) 0 195deg,
          var(--c1) 0 210deg,
          #0000 0
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) / 0.577),
      conic-gradient(
        var(--c1) 30deg,
        var(--c3) 0 75deg,
        var(--c1) 0 90deg,
        var(--c2) 0 105deg,
        var(--c3) 0 150deg,
        var(--c2) 0 180deg,
        var(--c3) 0 210deg,
        var(--c1) 0 256deg,
        var(--c2) 0 270deg,
        var(--c1) 0 286deg,
        var(--c2) 0 331deg,
        var(--c3) 0
      );
    background-size: var(--s) calc(var(--s) / 0.577);
    /* 0.577=tan(30deg)*/
  }
  
  .Create-a-post-tooltip-container {
    position: relative;
    background: #9b999a;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 17px;
    padding: 14px 26px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.62),
      inset 0px -2px 3px rgba(0, 0, 0, 0.48), inset 1px 1px 4px #ffffff,
      rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 300px;
    margin: auto;
  
  }
  
  .Create-a-post-tooltip-1,
  .Create-a-post-tooltip-2,
  .Create-a-post-tooltip-3 {
    position: absolute;
    transform: translateX(-50%);
    font-weight: 800;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 8px 8px 8px 8px;
    background: #64635f;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.62),
      inset 0px -2px 3px rgba(0, 0, 0, 0.48), inset 1px 1px 4px #ffffff,
      rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    min-width: 180px;
    padding: 8px;
    color: #0b0b0b;
    font-size: 11px;
  }
  .Create-a-post-tooltip-1 {
    top: 0%;
    left: 50%;
    width: 200px;
  }
  .Create-a-post-tooltip-2 {
    left: 100%;
  }
  
  .Create-a-post-tooltip-3 {
    left: 0;
  }
  .Create-a-post-tooltip-container:hover .Create-a-post-tooltip-1 {
    top: -100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .Create-a-post-tooltip-container:hover .Create-a-post-tooltip-2 {
    left: -100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .Create-a-post-tooltip-container:hover .Create-a-post-tooltip-3 {
    left: 200%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  